body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1176px;
    padding: 36px 24px;
    width: 1100%;
    margin: 0 auto;
}

.form {
    max-width: 434px;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.input {
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    border: 1px solid #808080;
    width: 100%;
    transition: .3s;
    outline: none;
}

.input:not(:placeholder-shown) {
    border-color: #4E75FF !important
}

.input:focus {
    border-color: #000;
}


.button {
    width: 91px;
    min-width: 91px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: #4E75FF;
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
}


.button:hover {
    transition: .3s;
    background-color: #6C8CFF;
}

.images__cont {
    margin-top: 32px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.imagecont {
    width: calc(100% / 3 - 16px);
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.imagephoto {
    display: block;
    position: relative;
    padding-top: 60%;
}

.imagephoto img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.imageinfo {
    padding: 8px;
    justify-content: space-around;
    display: flex;
    margin: 0;
    text-align: center;
}

.imageinfo > span {
    margin: 0;
    padding: 0;
    list-style: none;
}

.imageinfo > span span:first-child {
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
}

.imageinfo > span span:last-child {
    display: block;
}

.loader {
    margin: 0 auto;
    margin-top: 20px;
    width: 48px;
    height: 48px;
    border: 5px solid #646464;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 